@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://lh3.googleusercontent.com/proxy/lmPhnDJUEUlaet_2Gl2d-_Zp_fSFDKyxCh6Cuf23BSxzpOLOmACK_eTqZNhrcyoYNNLq9uiq26WyZkQwE1IIgHJ8cxfd2ixY8h3RvlwuWuc8loRwbs-psD2vee7XUzg47rhnEJmano8UErprHOpZiYjkhgQKTYU" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
